In [2]:
import pandas as pd 
from pycaret.classification import *

In [5]:
data = pd.read_csv("コープ神戸4_29_v2 - pycaret予測用.csv",index_col=0)
data.head(2)

,年商,レジ客数,客単価,売場面積（坪）,駐車場台数,坪単価,合計徒歩人口,総数０〜４歳,総数５〜９歳,総数１０〜１４歳,総数１５〜１９歳,総数２０〜２４歳,総数２５〜２９歳,総数３０〜３４歳,総数３５〜３９歳,総数４０〜４４歳,総数４５〜４９歳,総数５０〜５４歳,総数５５〜５９歳,総数６０〜６４歳,総数６５〜６９歳,総数７０〜７４歳,総数７５〜
店舗名,,,,,,,,,,,,,,,,,,,,,,,
既存店A-2,"3,250,441,443","766,937",4238.211800,2192,754,1482865.622,3328,137,129,134,134,102,158,172,190,252,231,233,223,213,248,230,542
既存店A-3,"2,595,644,109","841,627",3084.078944,547,143,4745236.031,17679,723,931,1013,1005,747,625,812,1163,1590,1677,1073,1388,1228,970,936,1798

In [6]:
#カンマ区切りを取り除きデータの変更
data = data.replace(',','', regex=True)
data['年商']= data['年商'].astype(int)
data['レジ客数'] = data['レジ客数'].astype(int)
data.head(2)

,年商,レジ客数,客単価,売場面積（坪）,駐車場台数,坪単価,合計徒歩人口,総数０〜４歳,総数５〜９歳,総数１０〜１４歳,総数１５〜１９歳,総数２０〜２４歳,総数２５〜２９歳,総数３０〜３４歳,総数３５〜３９歳,総数４０〜４４歳,総数４５〜４９歳,総数５０〜５４歳,総数５５〜５９歳,総数６０〜６４歳,総数６５〜６９歳,総数７０〜７４歳,総数７５〜
店舗名,,,,,,,,,,,,,,,,,,,,,,,
既存店A-2,3250441443,766937,4238.211800,2192,754,1482865.622,3328,137,129,134,134,102,158,172,190,252,231,233,223,213,248,230,542
既存店A-3,2595644109,841627,3084.078944,547,143,4745236.031,17679,723,931,1013,1005,747,625,812,1163,1590,1677,1073,1388,1228,970,936,1798

In [10]:
exp1 = setup(data, target = '年商')

In [11]:
compare_models()

[]

In [106]:
best_model

[]

In [13]:
suiron = pd.read_csv("推論用かこう前.csv")
suiron

,店舗名,年商,レジ客数,客単価,売場面積（坪）,駐車場台数,坪単価,合計徒歩人口,総数０〜４歳,総数５〜９歳,...,総数３０〜３４歳,総数３５〜３９歳,総数４０〜４４歳,総数４５〜４９歳,総数５０〜５４歳,総数５５〜５９歳,総数６０〜６４歳,総数６５〜６９歳,総数７０〜７４歳,総数７５〜
0,既存店A-2,"3,250,441,443","766,937",4238.211800,2192,754,1.482866e+06,3328,137,129,...,172,190,252,231,233,223,213,248,230,542
1,既存店A-3,"2,595,644,109","841,627",3084.078944,547,143,4.745236e+06,17679,723,931,...,812,1163,1590,1677,1073,1388,1228,970,936,1798
2,既存店A-4,"5,765,808,691","1,516,410",3802.275566,858,1000,6.720057e+06,4904,173,294,...,212,304,395,337,387,351,451,429,252,418
3,既存店B-1,"2,890,543,434","1,392,645",2075.578079,535,320,5.402885e+06,3867,143,152,...,224,268,248,235,223,255,332,278,67,728
4,既存店B-2,"7,143,125,420","2,115,294",3376.894852,556,540,1.284735e+07,29285,1116,1114,...,1667,1927,2459,2396,2047,1839,1765,2191,1744,3473
5,既存店B-3,"2,725,103,662","1,247,350",2184.714524,689,250,3.955158e+06,9014,525,662,...,484,743,816,646,685,610,584,527,323,688
6,既存店B-4,"2,402,557,110","1,044,313",2300.610171,674,240,3.564625e+06,16425,840,599,...,1398,1413,1445,1234,1085,843,910,1172,859,1549
7,既存店B-5,"5,780,934,391","1,703,228",3394.104836,540,362,1.070543e+07,19837,822,790,...,1079,1298,1682,1704,1459,1272,1221,1498,1156,2682
8,既存店B-6,"2,631,490,170","1,369,179",1921.947510,433,41,6.077345e+06,17274,733,725,...,1076,1111,1418,1180,1094,973,1060,1239,1077,2571
9,既存店B-7,"3,227,385,118","1,569,149",2056.774161,481,653,6.709740e+06,20156,1002,885,...,1500,1744,1965,1703,1031,1378,1180,942,900,1727
10,既存店B-8,"2,719,154,362","1,293,122",2102.782539,354,59,7.681227e+06,12653,493,593,...,601,759,1149,1102,715,927,875,753,710,1401

In [14]:
#カンマ区切りを取り除きデータの変更
suiron = suiron.replace(',','', regex=True)
suiron['年商']= suiron['年商'].astype(int)
suiron['レジ客数'] = suiron['レジ客数'].astype(int)
suiron.head(2)

,店舗名,年商,レジ客数,客単価,売場面積（坪）,駐車場台数,坪単価,合計徒歩人口,総数０〜４歳,総数５〜９歳,...,総数３０〜３４歳,総数３５〜３９歳,総数４０〜４４歳,総数４５〜４９歳,総数５０〜５４歳,総数５５〜５９歳,総数６０〜６４歳,総数６５〜６９歳,総数７０〜７４歳,総数７５〜
0,既存店A-2,3250441443,766937,4238.211800,2192,754,1482865.622,3328,137,129,...,172,190,252,231,233,223,213,248,230,542
1,既存店A-3,2595644109,841627,3084.078944,547,143,4745236.031,17679,723,931,...,812,1163,1590,1677,1073,1388,1228,970,936,1798

In [15]:
suiron.to_csv("加工後.csv")

In [17]:
a = suiron.drop(["年商"],axis=1)

In [18]:
a.head(2)

,店舗名,レジ客数,客単価,売場面積（坪）,駐車場台数,坪単価,合計徒歩人口,総数０〜４歳,総数５〜９歳,総数１０〜１４歳,...,総数３０〜３４歳,総数３５〜３９歳,総数４０〜４４歳,総数４５〜４９歳,総数５０〜５４歳,総数５５〜５９歳,総数６０〜６４歳,総数６５〜６９歳,総数７０〜７４歳,総数７５〜
0,既存店A-2,766937,4238.211800,2192,754,1482865.622,3328,137,129,134,...,172,190,252,231,233,223,213,248,230,542
1,既存店A-3,841627,3084.078944,547,143,4745236.031,17679,723,931,1013,...,812,1163,1590,1677,1073,1388,1228,970,936,1798

In [20]:
a.to_csv("a.csv")

In [3]:
forest_read_pickle = pd.read_pickle("omp_saved_20220506.pkl") 
forest_read_pickle

array(['レジ客数', '客単価', '売場面積（坪）', '駐車場台数', '坪単価', '合計徒歩人口', '総数０〜４歳',
       '総数５〜９歳', '総数１０〜１４歳', '総数１５〜１９歳', '総数２０〜２４歳', '総数２５〜２９歳',
       '総数３０〜３４歳', '総数３５〜３９歳', '総数４０〜４４歳', '総数４５〜４９歳', '総数５０〜５４歳',
       '総数５５〜５９歳', '総数６０〜６４歳', '総数６５〜６９歳', '総数７０〜７４歳', '総数７５〜'],
      dtype=object)