In [2]:
import pandas as pd

In [19]:
predict_data = pd.read_csv("予測用.csv",index_col=0)
predict_data.head(1)

,店舗名,年商,レジ客数,客単価,売場面積（坪）,駐車場台数,坪単価,合計徒歩人口,総数０〜４歳,総数５〜９歳,総数１０〜１４歳,総数１５〜１９歳,総数２０〜２４歳,総数２５〜２９歳,総数３０〜３４歳,総数３５〜３９歳,総数４０〜４４歳,総数４５〜４９歳,総数５０〜５４歳,総数５５〜５９歳,総数６０〜６４歳,総数６５〜６９歳,総数７０〜７４歳,総数７５〜
0,既存店A-2,3250441443,766937,4238.2118,2192,754,1482865.622,3328,137,129,134,134,102,158,172,190,252,231,233,223,213,248,230,542

In [46]:
predict_data_correct = predict_data.drop(["年商","レジ客数","客単価","総数０〜４歳","総数５〜９歳","総数１０〜１４歳","総数１５〜１９歳","総数２０〜２４歳","総数２５〜２９歳","総数２５〜２９歳","総数３０〜３４歳","総数３５〜３９歳","総数４０〜４４歳","総数５０〜５４歳","総数５５〜５９歳","総数６０〜６４歳","総数６５〜６９歳","総数７０〜７４歳","総数７５〜"],axis=1)
predict_data_correct.to_csv("説明変数の数が同じ.csv")

In [48]:
predict_data_correct.head(1)

      店舗名  売場面積（坪）  駐車場台数          坪単価  合計徒歩人口  総数４５〜４９歳
0  既存店A-2     2192    754  1482865.622    3328       231

In [51]:
predict_data_loss = predict_data_correct.drop(["売場面積（坪）","総数４５〜４９歳"],axis=1)
predict_data_loss.to_csv("説明変数の数が少ない.csv")

In [55]:
pickle = pd.read_pickle("lr年商_saved_20220516.pkl") 
pickle

NameError: name 'dtype' is not defined