In [26]:
import pandas as pd 
from pycaret.classification import *
import pandas as pd

In [23]:
data = pd.read_csv("/Users/pc106/Desktop/takeru/コープ神戸データ.csv",header=1)
data.head(3)

,店舗名,年商,レジ客数,客単価,売場面積（坪）,駐車場台数,坪面積,合計徒歩人口,総数０〜４歳,総数５〜９歳,...,総数３０〜３４歳,総数３５〜３９歳,総数４０〜４４歳,総数４５〜４９歳,総数５０〜５４歳,総数５５〜５９歳,総数６０〜６４歳,総数６５〜６９歳,総数７０〜７４歳,総数７５〜
0,既存店A-2,"3,250,441,443","766,937",4238.211800,2192,754,1482865.622,3328,137,129,...,172,190,252,231,233,223,213,248,230,542
1,既存店A-3,"2,595,644,109","841,627",3084.078944,547,143,4745236.031,17679,723,931,...,812,1163,1590,1677,1073,1388,1228,970,936,1798
2,既存店A-4,"5,765,808,691","1,516,410",3802.275566,858,1000,6720056.749,4904,173,294,...,212,304,395,337,387,351,451,429,252,418

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   店舗名       61 non-null     object
 1   年商        61 non-null     object
 2   レジ客数      61 non-null     object
 3   客単価       61 non-null     float64
 4   売場面積（坪）   61 non-null     object
 5   駐車場台数     61 non-null     int64
 6   坪面積       61 non-null     object
 7   合計徒歩人口    61 non-null     int64
 8   総数０〜４歳    61 non-null     int64
 9   総数５〜９歳    61 non-null     int64
 10  総数１０〜１４歳  61 non-null     int64
 11  総数１５〜１９歳  61 non-null     int64
 12  総数２０〜２４歳  61 non-null     int64
 13  総数２５〜２９歳  61 non-null     int64
 14  総数３０〜３４歳  61 non-null     int64
 15  総数３５〜３９歳  61 non-null     int64
 16  総数４０〜４４歳  61 non-null     int64
 17  総数４５〜４９歳  61 non-null     int64
 18  総数５０〜５４歳  61 non-null     int64
 19  総数５５〜５９歳  61 non-null     int64
 20  総数６０〜６４歳  61 non-null     int64
 21  総数６５〜６９歳  61 non-null     int64
 22  総数７０〜７４歳  61 non-null     int64
 23  総数７５〜     61 non-null     int64
dtypes: float64(1), int64(18), object(5)
memory usage: 11.6+ KB

In [25]:
exp1 = setup(data, target = '年商')

NameError: name 'setup' is not defined